textarea {
    resize: none;
}
.card:hover {
    // transform: scale(1.05) rotate(2deg);
    // transform: scale(1.05);
    opacity: 0.75;
    // z-index: 2;
}
.card-text {
    font-size: .75em;
    font-style: italic;
}
.sidebar {
    z-index: 5;
}
.color-picker:hover {
    opacity: .5;
}
.kanban-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-gap: 1em;
}