<div class="d-flex flex-column" *ngIf="boards && !loading; else renderLoading">
  <div class="row align-items-center">
    <div class="d-flex flex-column col-sm-12 col-md-8">
      <span class="fs-5 mb-1"
        >Welcome <span class="fw-semibold">{{firstName}}</span> to Kanban
        module:</span
      >
      <span class="text-muted"
        >A visualization tool that enables you to optimize the flow of your
        work.</span
      >
    </div>
    <div class="col-sm-12 col-md-4 d-flex justify-content-end">
      <input
        class="form-control me-2"
        type="text"
        placeholder="Search..."
        [(ngModel)]="filterText"
        (input)="search()"
      />
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#createBoardModal"
        (click)="resetForm()"
      >
        +
      </button>    </div>
  </div>

  <div class="row align-items-start mt-5 row-boards">
    <div
      class="col-xs-12 col-md-3 col-lg-2 pe-2 ps-2"
      *ngFor="let board of filteredBoards"
    >
      <div
        class="card bg-light border-0 shadow-sm mb-2 w-100 cursor-pointer"
        style="width: 11rem"
        routerLink="board/{{board.id}}"
      >
        <div class="card-body">
          <h5 class="card-title">{{board.name}}</h5>
          <p class="card-text text-muted">
            {{board.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="createBoardModal"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new board</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="createdBoard" class="alert alert-success fade show" role="alert">
          <strong>Board created!</strong> You can close this window.
        </div>
        <form [formGroup]="boardForm">
          <div class="mb-3">
            <label class="mb-2 text-muted" for="name">Name</label>
            <input
              id="name"
              type="text"
              class="form-control"
              name="name"
              formControlName="name"
              [ngClass]="{
                'is-invalid': f['name'].touched && f['name'].errors
              }"
            />
            <div class="invalid-feedback">Name is required</div>
          </div>
          <div class="mb-3">
            <label class="mb-2 text-muted" for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              name="description"
              rows="3"
              formControlName="description"
            ></textarea>
          </div>
          <div class="mb-3">
            <label class="mb-2 text-muted" for="image">Image</label>
            <input
              id="name"
              type="file"
              class="form-control"
              name="image"
              formControlName="image"
            />
          </div>
          <div class="mt-4">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="boardForm.invalid"
              (click)="createBoard()"
            >
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #renderLoading>
  <app-loading></app-loading>
</ng-template>
