<div class="container-fluid h-100">
  <div class="row">
    <div class="col-2 px-1 d-none d-md-block position-fixed sidebar">
      <app-sidebar
        [title]="'Kanban'"
        [subtitle]="
          'A visualization tool that enables you to optimize the flow of
      your work'
        "
      >
        <div class="mb-4">
          <label for="displaySelect" class="form-label">Display:</label>
          <select
            class="form-select form-select-sm"
            aria-label="Default select example"
            (change)="handleDisplayType($event)"
          >
            <option value="GRID" selected>Grid</option>
            <option value="TABLE">Table</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="flexSwitchCheckDefault" class="form-label"
            >Search field:</label
          >
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              [value]="hideSearchInput"
              (change)="handleHideSearchInput($event)"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault">
              {{ hideSearchInput ? 'Hidden' : 'Not hidden' }}
            </label>
          </div>
        </div>
        <div class="d-flex flex-column mb-4">
          <label for="displaySelect" class="form-label">Add board:</label>
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#createBoardModal"
            (click)="resetForm()"
          >
            +
          </button>
        </div>
      </app-sidebar>
    </div>
    <div class="col-sm-12 col-md-10 offset-md-2">
      <div
        class="d-flex flex-column"
        *ngIf="boards && !loading; else renderLoading"
      >
        <div class="row col-12">
          <span class="fs-3">Your boards:</span>
        </div>
        <div class="row align-items-center mt-3" *ngIf="!hideSearchInput">
          <div class="col-sm-12 col-md-4 d-flex justify-content-end">
            <input
              class="form-control me-2"
              type="text"
              placeholder="Search..."
              [(ngModel)]="filterText"
              (input)="search()"
            />
          </div>
        </div>

        <div class="row align-items-start mt-4 row-boards">
          <div *ngIf="displayType === 'GRID'; else displayTable">
            <div class="d-flex flex-wrap">
              <div
                class="col-xs-12 col-md-3 col-lg-2 pe-2 ps-2"
                *ngFor="let board of filteredBoards"
              >
                <div
                  class="card bg-light border-0 shadow-sm mb-2 w-100 cursor-pointer"
                  style="width: 11rem"
                  routerLink="board/{{board.id}}"
                >
                  <div class="card-body">
                    <h5 class="card-title">{{board.name}}</h5>
                    <p class="card-text text-muted">
                      {{board.description}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #displayTable>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Creation date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let board of filteredBoards; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td
                    class="text-primary cursor-pointer"
                    routerLink="board/{{board.id}}"
                  >
                    {{board.name}}
                  </td>
                  <td class="text-truncate">{{board.description}}</td>
                  <td>{{board.creationDate | date}}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="createBoardModal"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new board</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          *ngIf="createdBoard"
          class="alert alert-success fade show"
          role="alert"
        >
          <strong>Board created!</strong> You can close this window.
        </div>
        <form [formGroup]="boardForm">
          <div class="mb-3">
            <label class="mb-2 text-muted" for="name">Name</label>
            <input
              id="name"
              type="text"
              class="form-control"
              name="name"
              formControlName="name"
              [ngClass]="{
                'is-invalid': f['name'].touched && f['name'].errors
              }"
            />
            <div class="invalid-feedback">Name is required</div>
          </div>
          <div class="mb-3">
            <label class="mb-2 text-muted" for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              name="description"
              rows="3"
              formControlName="description"
            ></textarea>
          </div>
          <div class="mb-3">
            <label class="mb-2 text-muted" for="image">Image</label>
            <input
              id="name"
              type="file"
              class="form-control"
              name="image"
              formControlName="image"
            />
          </div>
          <div class="mt-4">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="boardForm.invalid"
              (click)="createBoard()"
            >
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #renderLoading>
  <app-loading></app-loading>
</ng-template>
