<nav class="navbar navbar-expand-lg fixed-top shadow-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold" routerLink="/dashboard" routerLinkActive="text-primary">VPM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/kanban" routerLinkActive="active">Kanban</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/calendar">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/docs">Docs</a>
        </li>
      </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" routerLink="">Action</a></li>
              <li><a class="dropdown-item" routerLink="">Another action</a></li>
              <li><a class="dropdown-item" routerLink="">Something else here</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>