<div class="dropdown w-100">
  <span
    class="bg-light fw-semibold px-2 py-1 rounded w-100"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Priority
  </span>
  <div class="dropdown-menu">
    <div class="bg-white sticky-top top-0 p-1">
      <h6 class="dropdown-header text-center fw-semibold p-1">Priority</h6>
      <hr class="dropdown-divider" />
    </div>

    <div class="list-group border-0">
      <span
        class="list-group-item p-3 list-group-item-action list-group-item-success fw-bold cursor-pointer"
        [ngClass]="{ 'active disabled': priority?.name === 'LOW' }"
        (click)="changePriority('LOW')"
      >
        Low
      </span>
      <span
        class="list-group-item p-3 list-group-item-action list-group-item-info fw-bold cursor-pointer"
        [ngClass]="{ 'active disabled': priority?.name === 'MEDIUM' }"
        (click)="changePriority('MEDIUM')"
        >Medium
      </span>
      <span
        class="list-group-item p-3 list-group-item-action list-group-item-danger fw-bold cursor-pointer"
        [ngClass]="{ 'active disabled': priority?.name === 'HIGH' }"
        (click)="changePriority('HIGH')"
      >
        High
      </span>
    </div>
  </div>
</div>
