<div class="h-100">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">VPM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ms-auto navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Sign in</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary" routerLink="/register">Sign up</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="h-100 row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
      <div class="col-lg-7 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">VIRA Project Manager</h1>
        <p class="lead">
          A open source software with multiple tools to manage all your
          projects. Your can create kanban boards, chat with users, interact
          with a calendar, save all your documentation.
        </p>
        <div
          class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
        >
          <button
            type="button"
            class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
          >
            Get started
          </button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            Learn more
          </button>
        </div>
      </div>

      <div class="col-lg-5 py-3 overflow-hidden">
        <div class="row row-cols-1 row-cols-md-2 g-3">
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <h5 class="card-title">Kanban</h5>
                <p class="card-text">
                  A visualization tool that enables you to optimize the flow of
                  your work.
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <h5 class="card-title">Calendar</h5>
                <p class="card-text">
                  A calendar to manage all your events like calls, meetings,
                  etc.
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <h5 class="card-title">Chat</h5>
                <p class="card-text">
                  A place where you can talk with other users registered in the
                  plattaform.
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <h5 class="card-title">Docs</h5>
                <p class="card-text">
                  A site where all documentation is saved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
