<nav class="navbar navbar-expand-lg sticky-top bg-white">
  <div class="container-fluid">
    <span class="navbar-brand">viraPM</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarLanding"
      aria-controls="navbarLanding"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarLanding">
      <div class="navbar-nav ms-auto">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/login"
          routerLinkActive="txt-primary"
          >Login</a
        >
        <a
          class="nav-link"
          routerLink="/register"
          routerLinkActive="txt-primary"
          >Register</a
        >
      </div>
    </div>
  </div>
</nav>

<div class="h-100 w-100 position-relative">
  <section class="row mx-0 d-flex align-items-center justify-content-center">
    <div class="col-12 px-0">
      <div class="d-flex flex-column justify-content-center mt-6 p-3 bg-light">
        <h1 class="fw-semibold text-center">Project Tracking Software</h1>
        <p class="fs-4 fw-light text-center">
          Vira Project Manager is an open source software with multiple tools to
          manage all your projects. Your can create kanban boards, chat with
          users, interact with a calendar, save all your documentation.
        </p>
        <a routerLink="/register" class="btn btn-primary w-25 align-self-center"
          >Get started</a
        >
      </div>
    </div>

    <div class="mt-5 text-center">
      <h3 class="fs-3 fw-semibold text-center">OUR FEATURES</h3>
      <div class="row mx-0 card-group">
        <div class="col-sm-12 col-md-4">
          <div class="card rounded-1 shadow">
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-kanban"></i>
                Issue tracking
              </h5>
            </div>
            <p class="card-text p-2">
              A visualization tool that enables you to optimize the flow of your
              work.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card rounded-1 shadow">
            <div class="card-body">
              <h5 class="card-title">Chat</h5>
            </div>
            <p class="card-text p-2">
              A place where you can talk with other users registered in the
              plattaform.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card rounded-1 shadow">
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-device-hdd"></i>
                Files storage
              </h5>
            </div>
            <p class="card-text p-2">
              A cloud-based storage service that enables users to store and
              access files online.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
