<!-- <div cdkDropList cdkDropListOrientation="horizontal" class="boards" (cdkDropListDropped)="drop($event)">
   <app-board cdkDrag *ngFor="let board of boards" [board]="board">
      <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
  </app-board>

  <div class="board-button">
      <button mat-raised-button color="accent" cdkDragDisabled (click)="openBoardDialog()">
          New Board
      </button>
  </div>
</div> -->

<div
  class="bg-light p-2 px-3 rounded me-3 column"
  cdkDropList
  cdkDropListOrientation="vertical"
  (cdkDropListDropped)="taskDrop($event)"
>
  <h3 class="h5 mb-2 pb-2">{{ column.name.toUpperCase() }}</h3>
  <div class="column-body">
    <app-card *ngFor="let card for cards" cdkDrag [card]="card"></app-card>
  </div>
  <div
    *ngIf="!addNewTask; else elseBlock"
    class="cursor-pointer"
    (click)="addNewTask = !addNewTask"
  >
    <span class="fw-semibold">Add task</span>
  </div>
  <ng-template #elseBlock>
    <form [formGroup]="cardForm">
      <textarea
        class="form-control"
        rows="3"
        formControlName="name"
        (keyup.enter)="submit($event)"
        [ngClass]="{
          'is-invalid': f['name'].touched && f['name'].errors
        }"
      ></textarea>
      <div class="invalid-feedback">Name is required</div>
    </form>
  </ng-template>
</div>
