@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "_components.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #878787 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.1em;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #878787;
  border-radius: 8px;
  border: 3px solid #ffffff00;
}
