<div class="bg-light p-2 px-3 rounded me-3 column" id="test">
  <span class="fs-6 fw-semibold mb-2 pb-2 cursor-pointer">
    {{ column.name.toUpperCase() }}
  </span>
  <div class="mt-2 column-dnd">
    <div
      class="column-body"
      cdkDropList
      id="{{column.id}}"
      [cdkDropListData]="cards"
      (cdkDropListDropped)="taskDrop($event)"
    >
      <div
        *ngFor="let card of cards"
        cdkDrag
        cdkDragHandle
        [cdkDragData]="card"
      >
        <app-card [card]="card"></app-card>
      </div>
    </div>
    <div
      *ngIf="!addNewTask; else elseBlock"
      class="cursor-pointer"
      (click)="addNewTask = !addNewTask"
    >
      <span class="fw-semibold">Add task</span>
    </div>
    <ng-template #elseBlock>
      <form [formGroup]="cardForm">
        <input
          class="form-control"
          autofocus
          formControlName="name"
          (keyup.enter)="submit($event)"
          [ngClass]="{
            'is-invalid': f['name'].touched && f['name'].errors
          }"
        />
        <div class="invalid-feedback">Name is required</div>
      </form>
    </ng-template>
  </div>
</div>
