<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <!-- <div class="text-center my-5">
          <h1>VPM</h1>
        </div> -->
        <div class="card border-0 shadow-lg mt-2">
          <div class="card-body p-4">
            <h1 class="fs-4 card-title text-center fw-bold mb-4">Sign in</h1>
            <div class="alert aler-danger" *ngIf="loginError">
              Something goes wrong, please retry in a moment!
            </div>
            <form [formGroup]="loginForm">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="email"
                  >E-Mail Address</label
                >
                <input
                  id="email"
                  type="email"
                  class="form-control"
                  name="email"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': f['email'].touched && f['email'].errors
                  }"
                />
                <div class="invalid-feedback">Email is invalid</div>
              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted" for="password">Password</label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  name="password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': f['password'].touched && f['password'].errors
                  }"
                />
                <div class="invalid-feedback">Password is required</div>
              </div>

              <div class="align-items-center d-flex">
                <button
                  type="submit"
                  class="btn btn-primary ms-auto"
                  [disabled]="loginForm.invalid"
                  (click)="submit()"
                >
                  Sign in
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center">
              Don't have an account?
              <a routerLink="/register" class="text-dark">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
