<div class="container h-100 w-100">
  <div class="row mx-0 h-100 w-100">
    <div class="col-12 h-100 w-100">
      <div
        class="d-flex flex-column justify-content-center align-items-center h-100 w-100"
      >
        <h3 class="text-center fs-4 fw-semibold">Login</h3>
        <form class="mt-2" [formGroup]="loginForm">
          <div class="mb-3">
            <label for="sign-in-email" class="form-label">Email</label>
            <div class="relative">
              <input
                type="text"
                id="sign-in-email"
                name="email"
                class="form-control shadow-lg"
                aria-describedby="email-text-input"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': f['email'].touched && f['email'].errors
                }"
              />
              <span
                class="invalid-feedback fw-light fst-italic"
                id="email-validation"
              >
                Please enter a valid email address.
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="sign-in-password" class="form-label">Password</label>
            <div class="relative">
              <input
                type="password"
                id="sign-in-password"
                name="password"
                class="form-control shadow-lg"
                aria-describedby="password-text-input"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': f['password'].touched && f['password'].errors
                }"
              />
              <span
                class="invalid-feedback fw-light fst-italic"
                id="password-validation"
              >
                Please enter a password.
              </span>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="loginForm.invalid"
            (click)="submit()"
          >
            Send
          </button>
        </form>
        <span
          class="text-center fst-italic fw-light mt-4"
          style="font-size: 0.8em"
        >
          Don't have an account?
          <a routerLink="/register" class="text-primary underline"
            >Register here</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
