<div class="container h-100 w-100">
  <div class="row py-2 mx-0 h-100 w-100">
    <div class="col-12 h-100 w-100">
      <div
        class="d-flex flex-column justify-content-center align-items-center h-100 w-100"
      >
        <h3 class="text-center fs-4 fw-semibold">Create new account</h3>
        <form class="mt-2" [formGroup]="registerForm">
          <div class="mb-3">
            <label for="sign-up-fullname" class="form-label">Fullname</label>
            <input
              type="text"
              id="sign-up-fullname"
              name="fullname"
              class="form-control shadow-lg"
              aria-describedby="fullname-text-input"
              formControlName="fullname"
              [ngClass]="{
                'is-invalid': f['fullname'].touched && f['fullname'].errors
              }"
            />
            <span class="invalid-feedback fst-italic" id="fullname-validation">
              Please enter a valid name.
            </span>
          </div>
          <div class="mb-3">
            <label for="sign-up-email" class="form-label">Email</label>
            <input
              type="text"
              id="sign-up-email"
              name="email"
              class="form-control shadow-lg"
              aria-describedby="email-text-input"
              formControlName="email"
              [ngClass]="{
                'is-invalid': f['email'].touched && f['email'].errors
              }"
            />
            <span class="invalid-feedback" id="email-validation">
              Please enter a valid email address.
            </span>
          </div>
          <div class="mb-3">
            <label for="sign-up-password" class="form-label">Password</label>
            <input
              id="sign-up-password"
              type="password"
              name="password"
              class="form-control shado-lg"
              aria-describedby="password-text-input"
              formControlName="password"
              [ngClass]="{
                'is-invalid': f['password'].touched && f['password'].errors
              }"
            />
            <span class="invalid-feedback fst-italic" id="password-validation">
              {{
                f["password"].errors &&
                  f["password"].errors["required"] &&
                  "Password cannot be empty"
              }}
              {{
                f["password"].errors &&
                  f["password"].errors["minlength"] &&
                  "Password must be longer than " +
                    f["password"].errors["minlength"].requiredLength +
                    " characteres"
              }}
            </span>
          </div>
          <div class="mb-3">
            <label for="sign-up-confirm-password" class="form-label"
              >Confirm password</label
            >
            <input
              type="password"
              id="sign-up-confirm-password"
              name="confirm-password"
              class="form-control shadow-lg"
              aria-describedby="confirmPassword-text-input"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid':
                  f['confirmPassword'].touched && f['confirmPassword'].errors
              }"
            />
            <span
              class="invalid-feedback fst-italic"
              id="confirmPassword-validation"
            >
              {{
                f["confirmPassword"].errors &&
                  f["confirmPassword"].errors["required"] &&
                  "Confirm password cannot be empty"
              }}
              {{
                f["confirmPassword"].errors &&
                  f["confirmPassword"].errors["confirmedValidator"] &&
                  "Passwords must be the same"
              }}
            </span>
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="registerForm.invalid"
            (click)="onSubmit()"
          >
            Send
          </button>
        </form>
        <span
          class="text-center fw-light fst-italic mt-5"
          style="font-size: 0.8em"
        >
          Already have an account?
          <a routerLink="/login" class="text-primary underline"
            >Login here</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
